<div class="container mt-5">
  <h1 class="text-center mb-4">DIZIMAN - Menu Inicial</h1>
  <div class="row">
    <!-- Card de Cadastro de Membro -->
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            Cadastro de Membro
          </h5>
          <p class="card-text">Adicione e gerencie os membros da sua igreja.</p>
          <a routerLink="/member-registration" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>

    <!-- Card de Registro do Dízimo -->
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
             Registro do Dízimo
          </h5>
          <p class="card-text">Registre e controle os dízimos recebidos.</p>
          <a routerLink="/tithe-registration" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>

    <!-- Card de Registro da Oferta -->
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
             Registro da Oferta
          </h5>
          <p class="card-text">Gerencie as ofertas dadas à igreja.</p>
          <a routerLink="/offering-registration" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
             Dashboard Financeiro
          </h5>
          <p class="card-text">Gerencie as finanças dadas à igreja.</p>
          <a routerLink="/offering-registration" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>
  </div>
</div>
